@import "../../mixins.scss";

.messages {
  padding: 10px;
  height: calc(100% - 160px);
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgb(217, 234, 250);
  &::-webkit-scrollbar {
    display: none;
  }
}
