.searchResultUser {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  border-bottom: 0.2px rgb(78, 78, 78) solid;
  cursor: pointer;
  &:hover {
    background-color: rgb(239, 238, 238);
    color: black;
  }
  img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
}
