.chats {
  .userChat {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    &:hover {
      background-color: white;
    }
    img {
      height: 50px;
      width: 50px;
      object-fit: cover;
      border-radius: 50%;
    }

    .userChatInfo {
      .title {
        font-size: 18px;
        font-weight: 500;
      }

      .latestMessage {
        font-size: 14px;
        color: gray;
      }
    }
  }
}
