@import "../../mixins.scss";

.chats {
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  width: 100%;
  height: 100%;

  @include mobile {
    position: sticky;
    // height: calc(100% - 116px);
    top: 116px;
    left: 0;
  }

  .loadingSpinner {
    .spinner {
      width: 30px;
      height: 30px;
      & .path {
        stroke: #1f63c2;
      }
    }
  }
}
