@import "../mixins.scss";

.home {
  height: 100vh;
  background: var(--gradient);
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    gap: 10px;
    height: 90%;
    width: 90%;
    overflow: hidden;

    @include mobile {
      width: 100%;
      height: 100%;
      gap: 0;
    }
  }

  .noUser {
    height: 100%;
    width: 100%;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .logo {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      color: #1f63c2;
      padding: 10px;
      border-right: 1px solid #1f63c2;
      border-bottom: 1px solid #1f63c2;
      border-radius: 10px;
      box-shadow: 1px 1px 2px 0 #1f63c2;
      background-color: rgba(255, 255, 255, 0.559);
    }

    .loginOrRegister {
      background: rgba(255, 255, 255, 0.667);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 10px;
      gap: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: max-content;
      padding: 70px 20px;

      .title {
        font-size: 24px;
        font-weight: 500;
        color: black;

        span {
          color: #1f63c2;
        }
      }

      .controls {
        display: flex;
        gap: 40px;

        a {
          background-color: #1f63c2;
          color: white;
          font-size: 14px;
          border: none;
          padding: 10px 20px;
          cursor: pointer;
          border-radius: 10px;
          text-decoration: none;

          &:hover {
            background-color: #17498e;
          }
        }
      }
    }
  }
}
