@import "../../mixins.scss";

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  width: 90vw;
  height: 90vh;
  top: 5vh;
  left: 5vw;
  background: rgba(255, 255, 255, 0.945);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  .content {
    width: 100%;
    height: 100%;

    .cross {
      height: 25px;
      width: 25px;
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }

      @include mobile {
        height: 20px;
        width: 20px;
      }
    }

    .lazy-load-image-background {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

// @media (min-width: 768px) {
//   .modal {
//     width: 40rem;
//     left: calc(50% - 20rem);
//   }
// }

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
