@import "../../mixins.scss";

.navbar {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  height: 70px;
  padding: 10px;
  justify-content: space-between;
  color: white;

  @include mobile {
    position: sticky;
    top: 0;
    left: 0;
  }

  .logo {
    font-size: 20px;
    font-weight: bold;
    // text-align: center;
    color: rgb(255, 255, 255);
    padding: 5px;
    border-right: 1px solid rgba(255, 255, 255, 0.776);
    border-bottom: 1px solid rgba(255, 255, 255, 0.776);
    border-radius: 10px;
    box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.776);
    // background-color: #1f63c2;
  }

  @include mobile {
    font-size: 25px;
  }

  .user {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 50px;

    img {
      border: 3px solid rgba(255, 255, 255, 0.712);
      height: 40px;
      width: 40px;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;
      filter: brightness(200%);

      &:hover {
        filter: brightness(100%);
      }
    }

    span {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.5px;
    }
    button {
      background-color: rgb(75, 73, 73);
      color: white;
      font-size: 12px;
      border: none;
      padding: 5px;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0);
      }
    }
  }
}
